<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Default Suite">
    <listeners>
        <listener class-name="utilities.Reporting"/>
    </listeners>

    <test name="FrameworkProject">
<!--     <parameter name="browser" value="chrome"/>-->
        <classes>
<!--            <class name="StepDefinition.TC_LogIn_Test_001"/>-->
<!--            <class name="StepDefinition.TC_LogIn_Test_002"/>-->
            <class name="utilities.RunnerClass"/>
        </classes>
    </test>
</suite>